# Python
__pycache__/
*.py[cod]
*$py.class

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.cab
*.msi
*.msm
*.msp
*.lnk

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Project/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Agents
.agents/

# Databases
*.db
